---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
    <Container>
        <Sectionhead>
        <Fragment slot="title">Contact</Fragment>
        <Fragment slot="desc">
            Your collaborations and suggestions are welcome!
        </Fragment>
        </Sectionhead>

        <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-12">
        <div>
            <Contactform />
        </div>
        <div>
            <h2 class="font-medium text-2xl text-gray-800">Contact Aboubacar Barry</h2>
            <p class="text-lg leading-relaxed text-slate-500 mt-3">
            Today, online presence is crucial for SMEs, businesses, and individuals to expand their reach. I'm here to guide you in this process and help you succeed on the internet.
            </p>
            <div class="mt-5">
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
                <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
                <span>Hamdallaye ACI 2000</span>
            </div>
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
                <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
                href="mailto:hello@astroshipstarter.com"
                >codeurabou123@gmail.com</a
                >
            </div>
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
                <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
                href="tel:+1 (987) 4587 899">+223 94 85 58 79</a
                >
            </div>
            </div>
        </div>
        </div>
    </Container>
</Layout>
